<!DOCTYPE html>
<html>
<head>
    <title>Big Data and Data Mining</title>
    <style>
        .container {
            display: flex; /* Use flexbox for layout */
            gap: 20px;     /* Space between tables */
        }

        table {
            border-collapse: collapse;
            width: auto; /* Important: Prevents tables from stretching */
            border: 1px solid #ccc;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('index') }}">Back to Home</a><br>
    <h1>Big Data and Data Mining Assignment 1</h1>
    <body>
        Scripts that are used to produce these two tables
    </body><br>

    <body>
        <a href="/download_table_a" download="tableA.csv">
            download tableA.csv 
        </a>

        <a href="/download_table_b" download="tableB.csv">
            | tableB.csv
        </a><br>

        <a href="/download_source_code"> 
            Download source_code.py
        </a>

        <a href="https://github.com/yingxinlin002/Coding-Project/tree/main/BigData" target="_blank" title="https://github.com/yingxinlin002/Coding-Project/tree/main/BigData">
            | or view on GitHub
          </a>

    </body>

    <div class="container">
        <div>  <h2>Table A</h2>
            <body>

                <a href="https://www.goodreads.com/list/show/2455.The_Most_Disturbing_Books_Ever_Written" target=_blank title="//www.goodreads.com/list/show/2455.The_Most_Disturbing_Books_Ever_Written">
                    Data extracted from goodreads
                </a>

            </body>
            {{ dataA|safe }}
        </div>
        <div>  <h2>Table B</h2>
            <body>
                <a href="https://openlibrary.org/search?subject=Horror" target=_blank title="https://openlibrary.org/search?subject=Horror">
                    Data extracted from OpenLibrary
                    </a>

            </body>
            {{ dataB|safe }}
        </div>
    </div>

</body>
</html>